@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

:root {
  --red-50:  #FCE8E8;
  --red-100: #F6CACA;
  --red-200: #EEA0A0;
  --red-300: #E17373;
  --red-400: #CF4A4A;
  --red-500: #B42F31;
  --red-600: #A1181D;
  --red-700: #810406;
  --red-800: #5F0405;
  --red-900: #3A0203;

  --wine-500: #693132;
  --wine-700: #51050C;

  --neutral-50: #FFFFFF;
  --neutral-100: #F4F4F4;
  --neutral-200: #E7E7E7;
  --neutral-800: #192132;
  --neutral-900: #111827;
}


*{
  font-family: "Poppins", Sans-Serif;
  text-decoration: none;
  margin: 0;
}
body{
   background-color: var(--neutral-900);
 }
#rhgs1{
  width: 25vw;
  position: absolute;
  z-index: 2;
}

#header{
  display: flex;
  position: relative;
  height: auto;
  width:100%;
}

#nav{
  height: 17vw;
  flex-grow: 1;
  background-color: var(--wine-700);
  position:relative;
  z-index: 1;
  margin-right: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0,5vw 1vw;
  justify-content: flex-end;
  align-items: center;
  padding-left: 30vw;
}
#nav a{
  width: 50%;
  color: var(--neutral-50);
  font-size: 4vw;
  text-align: center;
  
  transition: color 1s;
}
#nav a:hover{
  color: var(--red-200);
}

#inicio{
  display: flex;
  flex-flow: column;
  background-color: var(--neutral-800);
  margin: 5vw;
  margin-top: 7vw;
  padding: 4vw;
  border-radius: 5vw;
  font-size: 3vw;
  color: var(--neutral-50);
  line-height: 1.5;
}

#l1{
  font-size: 4vw;
}
#l1 span{
  color: var(--red-500);
  font-size: 5vw;
}

#inicio div{
  display: flex;
  margin-top: 5vw;
}
.ini_Button{
  width: 50%;
  height: 7vw;
  font-size: 4vw;
  border-radius: 1vw;
  margin: 1vw;
  
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;
  
  transition: transform 1s;
}
#portifoliobt{
  background-color: var(--wine-500);
  color: var(--neutral-50);
}
#contatobt{
  background-color: var(--neutral-50);
  color: var(--wine-500);
}

.ini_Button:hover{
  transform: scale(0.9);
}

#sobre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--neutral-50);
}
#sobre h1{
  font-size: 7vw;
}

.scard{
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 5vw;
  padding: 4vw;;
  background-color: var(--neutral-800);
  align-items: center;
  font-size:4vw;
}
.scard h2{
  font-size: 5vw;
}
